{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block stylesheets %}

    {{ parent() }}


{% endblock %}

{% block body %}

    Maletas

    {% for luggage in luggages %}
        <div>id : {{ luggage.airlineId }}</div>
    {% endfor %}

{% endblock %}
