

{% block title %}
    traking
{% endblock %}
{% block stylesheets %}
<style type="text/css">
    body {
    padding: 20px;
    background-color:#ffffc9
    }

    p { margin : 0; }
</style>
{% endblock %}



{% block body %}
    {{ form_start(form) }}
        <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}


{% block javascripts %}

    <script src="{{ asset('build/js/login.js') }}"></script>

    <script !src="">
        $(document)
            .ready(function() {
                $('.ui.form')
                    .on('blur')
                    .form({
                        fields: {
                            _username: {
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Introduzca un nombre de usuario'
                                    }
                                ]
                            },
                            _password: {
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Introduzca una contraseña'
                                    }
                                ]
                            }
                        }
                    })
                ;
            })
        ;
    </script>

    <script !src="">
        function geoFindMe() {
        var output = document.getElementById("out");

        if (!navigator.geolocation){
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }

        function success(position) {
            var latitude  = position.coords.latitude;
            var longitude = position.coords.longitude;


            output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';

            //var img = new Image();
            //img.src = "https://maps.googleapis.com/maps/api/staticmap?center=" + latitude + "," + longitude + "&zoom=13&size=300x300&sensor=false";

            //output.appendChild(img);

        }

        function error() {
            output.innerHTML = "Unable to retrieve your location";
        }

        output.innerHTML = "<p>Locating…</p>";

        navigator.geolocation.getCurrentPosition(success, error);
        post('/track',{latitude:latitude,longitude:longitude});
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                $.post("Controller/UserTrakingController.php",
                    {
                        latitude: latitude,
                        longitude: longitude
                    })
            });
        });
    </script>
{% endblock %}