{% extends 'base.html.twig' %}

{% block title %}Tráfico{% endblock %}

{% block stylesheets %}

    {{ parent() }}


    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>


{% endblock %}

{% block body %}

    {{ parent() }}

    {#<div id="floating-panel">
        <button onclick="toggleHeatmap()">Toggle Heatmap</button>
        <button onclick="changeGradient()">Change gradient</button>
        <button onclick="changeRadius()">Change radius</button>
        <button onclick="changeOpacity()">Change opacity</button>
    </div>#}


    <div id="map"></div>

{% endblock %}

{% block javascripts %}

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13 ,
                center: {lat:37.844333 , lng: -4.843275},
                mapTypeId: 'roadmap',
            });

            var trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);
            TrafficLayerOptions.autoRefresh(true);
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYYrMWQ5ILWdoR5PrGyP7CZWTW5Xi-2Cg&libraries=visualization&callback=initMap">
    </script>


{% endblock %}
