{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
{% endblock %}

{% block container %}
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a href={{ path('homepage') }} class="active item">Home</a>
            <a href={{ path('about_us') }} class="item">About us</a>
            <div class="right menu">
                <div class="item">
                    <a href={{ path('login') }} class="ui button">Log in</a>
                </div>
                <div class="item">
                    <a href={{ path('user_registration') }} class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
{% endblock %}
